@font-face
  font-family: Myrida
  src: url(../fonts/MyriadPro-Regular.ttf)

//@font-face
//  font-family: ProximaBold
//  src: url(../fonts/PROXIMA_NOVA_BOLD.OTF)
//
//@font-face
//  font-family: ProximaLight
//  src: url(../fonts/PROXIMA_NOVA_CONDENSED_LIGHT.OTF)
//
//@font-face
//  font-family: ProximaSemibold
//  src: url(../fonts/PROXIMA_NOVA_SEMIBOLD.OTF)

//  COLORS
$textBlack: #000000
$white: #ffffff
$green: #60A82D
$darkGreen: #008738
$silver: #EAEFF2
$darkSilver: #b9bec1
$mint: rgba(0, 135, 56, 0.1)

//  SIZES
$fontSize: 16px
$mBottom: 70px

// RESPONSIVE SIZES

//  FONTS
$regular: Myrida, sans-serif
//$bold: ProximaBold, sans-serif
//$light: ProximaLight, sans-serif
//$semibold: ProximaSemibold, sans-serif
